.light {
    background: radial-gradient(ellipse at bottom, #5c9ee9 0%, #3b41a0 100%);
    
    header {
        background-color: #8c3de6;
        
        & button, #changeTheme, #changeLang {
            border: 1px solid #b19fe6;
            &:hover {
                background-color: #82d677;
                border: 1px solid #82d677;
            }
        }
    
        a {
            &:hover {
                color: #82d677;
            }
        }

        .hamburgerMenu {
            background: #8c3de6;
        }

    }

    section {
        background-color: #69c1d12a;
    }

    input,
    textarea {
        padding: 1.4rem;
        background: #1b2735;
        color: white;
        border: 1px solid #3b41a0;
    }
    
    button {
        background: #8c3de6;

        &:hover {
            background-color: #82d677;
        }
    }
    footer {
        background: #3b41a0;
        color: #fff;
    }
}