@media screen and (max-width: 1275px) {
    header {
        height: 3.5rem !important;
        .menu-icon {
            display: block !important;

            &__line {
                animation: closedMid 0.8s backwards;
                animation-direction: reverse;

                &::before {
                    animation: closedTop 0.8s backwards;
                    animation-direction: reverse;
                }
                &::after {
                    animation: closedBtm 0.8s backwards;
                    animation-direction: reverse;
                }
            }
        }
        .hamburgerMenu {
            display: flex !important;
            position: fixed;
            top: 0;
            right: -100%;
            opacity: 1;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 5rem 0 5rem 1rem;
            width: 40%;
            height: 100vh;
            font-size: 1.6rem;
            color: #fff;
            background: #7f4c9c;
            transition: background 0.2s ease-in-out;
            border-radius: 0 0 0 40%;
            transition: 0.5s;
        }

        // When hamburger menu icon is clicked
        .menu-btn:checked ~ .menu-icon {
            border-radius: 50%;
            // animation: pulse .5s;

            .menu-icon__line {
                animation: openMid 0.5s forwards;

                &::before {
                    animation: openTop 0.5s forwards;
                }
                &::after {
                    animation: openBtm 0.5s forwards;
                }
            }
        }

// Hides fullwidth buttons to replace them for the hamburger menu ones
        #centerBtns, #rightBtns {
            display: none;
        }

        & #homeBtn {
            height: 3.1rem !important;
            z-index: 2;
        
            h1 {
                font-size: 2.8rem !important;
            }
                
            & .logo {
                width: 70px !important;
            }
        }
    }

    body {
            section {
                &#about{
                    #main {
                        display: flex !important;
                        flex-direction: column !important;
                        width: 90%;

                        &.main-titles, h1, h2 {
                            justify-content: center;
                            margin: .5rem;
                            width: 85vw;
                            }

                        #profile {
                            width: 16vw !important;
                            }
                    }
                    h3 {
                        justify-content: center;
                        padding: 0 2rem !important;
                    }
                }

            .cardText  {
                display: flex !important;
                flex-direction: column !important;

                img {
                    max-width: 70vw !important;
                }
            }
            .textCard {
                display: flex!important;
                flex-direction: column-reverse!important;

                img {
                    max-width: 70vw !important;
                }
            }

            .cardText, .textCard {
                margin: 2rem 0 2rem 0 !important;
                .projBtns {
                    .lBtn {
                        height: 2rem !important;
                        font-size: 1rem !important;
                    }
                    .rBtn {
                        height: 2rem !important;
                        font-size: 1rem !important;
                    }
                }
            }
        }
        input,
        textarea {
            min-width: 80%;
        }

        i {
            font-size: 3.1vw!important;
            padding: 0 .9vw!important;
        }
        h1 {
            font-size: 4vw!important;
        }
        h2 {
            font-size: 3vw!important;
        }
        h3 {
            font-size: 2vw!important;
        }
        p {
            font-size: 2vw!important;
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        & #homeBtn {
            height: 3.1rem !important;
        
            h1 {
                font-size: 1.5rem !important;
            }
                
            & .logo {
                width: 65px !important;
            }
        }
        .hamburgerMenu {
            width: 60%;
        }
    }
    body {
        section {
            &#about{
                #main {
                    flex-direction: column !important;
                    width: 95%;

                    &.main-titles, h1, h2 {
                        justify-content: center;
                        align-items: center;
                        }
                }

                #profile {
                    margin: 2% 0;
                }

                h1 {
                    font-size: 5vw!important;
                }
                h2 {
                    font-size: 3.5vw!important;
                }
                h3 {
                    font-size: 3vw!important;
                    justify-content: center;
                    padding: 0 1rem !important;
                }
                p {
                    font-size: 3vw!important;
                }
                i {
                    font-size: 4vw !important;
                    padding: 0 .1 !important;
                }

            }
            &#projects, &#contact {
                h1 {
                    font-size: 7vw !important;
                }
            }

            .cardText, .textCard {
                margin: 2rem 0 2rem 0 !important;
                .projBtns {
                    .lBtn {
                        height: 1.5rem !important;
                        font-size: .5rem !important;
                    }
                    .rBtn {
                        height: 1.5rem !important;
                        font-size: .5rem !important;
                    }
                }
            }
        }
        input,
        textarea {
            padding: .5rem !important;

            &::placeholder {
                font-size: 1rem !important;
            }
        }
        textarea {
            height: 8rem !important;
        }

        button {
            font-size: 1rem !important;
            width: 6rem !important;
            padding: 10px !important;
        }
    }

}